* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 2% auto;

    -webkit-box-shadow: 2px 10px 29px -1px rgba(209,209,209,1);
    -moz-box-shadow: 2px 10px 29px -1px rgba(209,209,209,1);
    box-shadow: 2px 10px 29px -1px rgba(209,209,209,1);
}

.cell {
    /* background-color: #f5f5f5; perm */
    background-color: darkgrey;
    border: 1px solid #d1d1d1;
}

.cell_black { 
    background-color: black;
}

#h1 { 
    margin-top: 40px;
    font-weight: 300;
    text-align: center;
}

.btns_below {
    text-align: center;
}

#new_btn {
    padding: 10px 80px;
}

#clear_btn {
    padding: 10px 90px;
}